<div class="nav">
  <div class="logo">
    <h1 routerLink="/home" class="logo">Mg blog</h1>
  </div>

  <div class="nav_menu">
    <!-- Links for non-logged-in users -->
    <a *ngIf="!isUserLoggedIn" routerLink="/login">Login</a>
    <a *ngIf="!isUserLoggedIn" routerLink="/register">Register</a>

    <!-- Display the user's name and actions for logged-in users -->
    <div *ngIf="isUserLoggedIn" class="user-info">
      <h4>Welcome: <span class="username"> {{ userName }} </span></h4>
      <a (click)="logout()" class="btn btn-danger">Logout</a>
      <a routerLink="/dashboard" class="btn btn-success">Dashboard</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
